.icon-hover-primary:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
  }
  
  .icon-hover-primary:hover i {
    color: #3b71ca !important;
  }
  .icon-hover-danger:hover {
    border-color: #dc4c64 !important;
    background-color: white !important;
  }
  .card-img-top {
    width: 100%;
    height: 350px;
}
  .icon-hover-danger:hover i {
    color: #dc4c64 !important;
  }
  .click{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }